@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@400;700&display=swap");
@import url("https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css");

html {
  scroll-behavior: smooth;
}

.body {
  margin: 0%;
  padding: 0%;
  border: 0px;
  font-family: Tajawal;
  color: #262220;
  background-color: #f2f2f2;
}

/* ----------MENU BAR---------- */
/* -----UPDATE----- */

.menu_bar {
  background-color: #262220d0;
  backdrop-filter: blur(4px);
  font-size: 18px;
  position: fixed;
  top: 0%;
  z-index: 3;
  width: 100%;
  padding: 0% 107px;
  height: 40px;
}

.menu_logo {
  float: right;
  height: 25px;
  width: 25px;
  margin: 0%;
  padding: 0%;
  line-height: 40px;
}

.menu_logo img {
  height: 25px;
}

.menu_items {
  display: inline-block;
  text-align: center;
  width: 95%;
  height: 40px;
}

.menu_items li {
  display: inline-block;
  height: 40px;
  margin: 0px 20px;
  line-height: 40px;
}

.menu_items a {
  text-decoration: none;
  color: #f2f2f2;
}

.menu_items a:hover {
  color: #f2f2f2;
}

.underlind {
  background: #d86800;
  height: 3px;
  width: 0%;
  border-radius: 1.5px;
  margin-top: -8px;
  transition: 0.3s;
}

.menu_items li:hover .underlind {
  width: 100%;
}

/* ----------MAIN---------- */

main {
  padding: 115px 120px;
}

/* ----------HEADER---------- */

.host_name {
  margin-bottom: 25px;
  font-size: 48px;
  font-weight: bold;
}

.host_des {
  font-size: 24px;
}

/* -----GALLERY----- */

.gallery_sec {
  width: 100%;
  height: max-content;
  border-radius: 15px;
  margin-top: 100px;
  border: #fff 10px solid;
  background-color: #fff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.gallery_sec:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
}

.gallery {
  display: flex;
  flex-wrap: wrap;
}

.gallery .image {
  padding: 10px;
  width: calc(100% / 3);
  height: 240px;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
}

.gallery .image span {
  display: flex;
  width: 100%;
  overflow: hidden;
}

.gallery .image img {
  width: 100%;
  height: 220px;
  vertical-align: middle;
  transition: all 0.3s ease;
}

.gallery .image:hover img {
  transform: scale(1.1);
}

.preview-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  background: #fff;
  max-width: 700px;
  width: 100%;
  z-index: 5;
  opacity: 0;
  pointer-events: none;
  border-radius: 15px;
  padding: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.preview-box.show {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
  transition: all 0.3s ease;
}

.close {
  text-align: center;
  color: #262220;
  opacity: 0.8;
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  left: 0%;
  transform: translateX(-200%);
  background-color: #ccc;
  height: 25px;
  width: 25px;
  display: block;
  border-radius: 50%;
  line-height: 25px;
}

.preview-box .image-box {
  display: flex;
  width: 100%;
  position: relative;
}

.image-box .slide {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  cursor: pointer;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  line-height: 30px;
  text-align: center;
  background-color: #262220;
  opacity: 0.8;
}

.slide.next {
  left: 5px;
}

.slide.prev {
  right: 5px;
}

.fa-angle-left,
.fa-angle-right {
  color: #ccc;
  font-size: 20px;
}

.image-box img {
  max-width: 690px;
  max-height: 500px;
  border-radius: 10px;
  margin: auto;
}

.shadow {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  display: none;
  background: rgba(0, 0, 0, 0.45);
}

@media (max-width: 1000px) {
  .gallery .image {
    width: calc(100% / 2);
  }
}

@media (max-width: 600px) {
  .gallery .image {
    width: 100%;
    padding: 4px;
  }
}

/* -----MAP----- */

.map_sec {
  width: 100%;
  height: 500px;
  border-radius: 15px;
  background-color: #ccc;
  margin: 100px auto 0px;
  border: #ccc 5px solid;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.map_sec:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
}

.map {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

/* ----------FOOTER---------- */
/* -----UPDATE----- */

footer {
  text-align: center;
  background-color: #262220;
  height: 40px;
}

footer li {
  display: inline-block;
  margin: 0px 20px;
  height: 40px;
}

footer a {
  height: 40px;
  padding: 0px;
  display: block;
  padding-top: 10px;
}

.fa-brands,
.fa-envelope {
  color: #f2f2f2;
  font-size: 20px;
  transition: 0.2s;
}

footer li:hover .fa-brands {
  color: #d86800;
}

footer li:hover .fa-envelope {
  color: #d86800;
}

/* -----TEXT STYLING----- */

P {
  cursor: default;
}

::selection {
  background: #e7a600;
}

/* Scrool */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #262220;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #505050;
  border-radius: 5px;
}
