@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@400;700&display=swap');
@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');

html {
    scroll-behavior: smooth;
}

.body {
    margin: 0%;
    padding: 0%;
    border: 0px;
    font-family: Tajawal, sans-serif;
    color: #262220;
    background-color: #f2f2f2;
}


/* ----------MENU BAR---------- */
/* Change on MENU BAR (Padding & Responsive & Distribution of items) */
.menu_bar {
    background-color: #262220d0;
    backdrop-filter: blur(4px);
    font-size: 18px;
    position: fixed;
    top: 0%;
    z-index: 3;
    width: 100%;
    height: 40px;
    padding: 0% 10%;
    display: flex;
}

.menu_logo {
    height: 25px;
    width: 25px;
    line-height: 40px;
}

.menu_logo img {
    height: 100%;
}

.menu_items {
    width: calc(100% - 25px);
    height: 40px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.menu_items a {
    text-decoration: none;
    color: #f2f2f2;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    margin: 0 2%;
}

.menu_items a:hover {
    color: #f2f2f2;
}

.underline {
    background: #D86800;
    height: 3px;
    width: 0%;
    border-radius: 1.5px;
    margin-top: -8px;
    transition: 0.3s;
}

/* When one page of menu bar is open, .underline will be increase width  */
/* .onLoad {
    width: 100%;
} */

.menu_items a:hover .underline {
    width: 100%;
}


/* ----------HEADER---------- */
header {
    position: relative;
    height: 700px;
    width: 100%;
    background-color: #262220;
}

.header_items {
    height: 100%;
    width: 100%;
    position: absolute;
    text-align: center;
    z-index: 2;
    background: linear-gradient(to top, #d86800e0, #e7a600d0);
    backdrop-filter: blur(2px);
}

.header_logo {
    height: 190px;
    position: absolute;
    top: 30%;
    right: 50%;
    transform: translate(50%, -50%);
    display: block;
    animation: logo 5s ease-out;
}

.web_des {
    color: #f2f2f2;
    width: 45%;
    font-size: 24px;
    position: absolute;
    display: block;
    top: 55%;
    right: 50%;
    transform: translate(50%, -50%);
    animation: des 5s ease-out;
}

.down_button {
    height: 30px;
    width: 30px;
    position: absolute;
    top: 70%;
    right: 50%;
    transform: translate(50%, -50%);
    animation: btn 5s ease-out;
}

.fa-chevron-circle-down {
    color: #fefefe;
    font-size: 30px;
    opacity: 0.7;
    transition: 0.2s;
}

.fa-chevron-circle-down:hover {
    opacity: 1;
    transform: translate(0%, 20%);
}

@keyframes logo {
    0%, 70% {
        top: 50%;
        transform: translate(50%, -50%);
    }

    100% {
        top: 30%;
        transform: translate(50%, -50%);
    }
}

@keyframes des {
    0%, 80% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes btn {
    0%, 70% {
        opacity: 0;
        top: 50%;
        transform: translate(50%, -50%);
    }

    100% {
        opacity: 1;
        top: 70%;
        transform: translate(50%, -50%);
    }
}

.slideshow {
    height: 100%;
    width: 100%;
    z-index: 1;
    overflow: hidden;
    position: absolute;
}

.wallpaper {
    width: 100%;
    position: absolute;
    display: block;
    animation-duration: 30s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.wall1 {
    animation-name: img-slide1;
}

.wall2 {
    animation-name: img-slide2;
}

.wall3 {
    animation-name: img-slide3;
}

@keyframes img-slide1 {
    0% {
        opacity: 0;
    }

    5%, 30% {
        opacity: 1;
    }

    40%, 100% {
        opacity: 0;
    }
}

@keyframes img-slide2 {
    0%, 30% {
        opacity: 0;
    }

    40%, 65% {
        opacity: 1;
    }

    75%, 100% {
        opacity: 0;
    }
}

@keyframes img-slide3 {
    0%, 65% {
        opacity: 0;
    }

    75%, 95% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


/* ----------MAIN---------- */
/* Change on MAIN (Padding & Height)  */
main {
    padding: 10%;
    padding-top: calc(10% + 40px);
    min-height: calc(100vh - 40px);
}


/* -----HOSTS SECTION----- */

.hosts_sec {
    width: 75%;
    margin: 5% auto 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

article a {
    text-decoration: none;
}
article a:hover {
    text-decoration: none;
}

.sec_type {
    width: 75%;
    margin: auto;
}

.sec_title {
    text-align:right;
    font-size: 48px;
    font-weight: bold;
    color: #d86800;
}

.sec_title a {
    color: #D86800;
    text-decoration: none;
}

.sec_title a:hover {
    filter: brightness(0.9);
    color: #D86800;
}

.sec_des {
    text-align: justify;
    font-size: 24px;
}

/* Change on host card (reSizing)  */
.host_card {
    margin: 5% 0;
    width: 216px;
    height: 288px;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    transition: 0.2s;
    text-align: center;
    cursor: pointer;
}

/* Change on host card image (reSizing)  */
.host_card img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

/* Change on host card text (container of name)  */
.host_card_text {
    background: linear-gradient(to left, #d86800b0, #e7a600b0);
    border-radius: 0 0 15px 15px;
    height: 15%;
    transform: translateY(-100%);
    backdrop-filter: blur(3px);
    display: flex;
    justify-content: center;
    /* align-items: flex-start;  -> Should be 'center'  */
    align-items: flex-start;
}

.host_card:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
}

.host_card:hover .host_card_text {
    background: linear-gradient(to left, #d86800, #e7a600);
}

/* Change on host name  */
.host_name {
    font-size: 20px;
    color: #f2f2f2;
    font-weight: 500;
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


/* -----STORIES SECTION----- */

.stories_sec {
    width: 75%;
    margin: 5% auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-between;
}

.story_card {
    width: 100%;
    border-radius: 25px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    /*cursor: default;*/
    padding: 20px 30px;
    position: relative;
}

.story_card:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
}
.view-story{
    color: #262220;
}
.view-story:hover{
    color: #262220;
}

.story-name-container {
    height: 60px;
    width: 100%;
    position: relative;
}

.story_name {
    font-size: 32px;
    color: #262220;
    position: absolute;
    display: block;
    animation-duration: 30s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.sn1 {
    animation-name: sn1;
}

.sn2 {
    animation-name: sn2;
}

.sn3 {
    animation-name: sn3;
}

@keyframes sn1 {
    0% {
        opacity: 0;
    }

    3%, 32% {
        opacity: 1;
    }

    35%, 100% {
        opacity: 0;
    }
}

@keyframes sn2 {
    0%, 33% {
        opacity: 0;
    }

    36%, 63% {
        opacity: 1;
    }

    66%, 100% {
        opacity: 0;
    }
}

@keyframes sn3 {
    0%, 64% {
        opacity: 0;
    }

    67%, 97% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.text_slide {
    width: 100%;
    height: 150px;
    position: relative;
    overflow:hidden;
}

.story_text {
    text-align: justify;
    font-size: 24px;
    position: absolute;
    display: block;
    cursor:pointer;
    animation-duration: 30s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.story_p1 {
    animation-name: story1;
}

.story_p2 {
    animation-name: story2;
}

.story_p3 {
    animation-name: story3;
}

@keyframes story1 {
    0% {
        left: 110%;
        opacity: 0;
    }

    3%, 32% {
        left: 0%;
        opacity: 1;
    }

    35%, 100% {
        left: -110%;
        opacity: 0;
    }
}

@keyframes story2 {
    0%, 31% {
        left: 110%;
        opacity: 0;
    }

    34%, 63% {
        left: 0%;
        opacity: 1;
    }

    66%, 100% {
        left: -110%;
        opacity: 0;
    }
}

@keyframes story3 {
    0%, 65% {
        left: 110%;
        opacity: 0;
    }

    68%, 97% {
        left: 0%;
        opacity: 1;
    }

    100% {
        left: -110%;
        opacity: 0;
    }
}

.slide_points {
    width: 100%;
    padding: 0%;
    margin: 0%;
    list-style: none;
    text-align: center;
}

.slide_points li {
    display: inline-block;
    margin: 0 3px;
    line-height: 10px;
}

.fa-circle {
    font-size: 10px;
    animation-duration: 30s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.point1 {
    animation-name: point1;
}

.point2 {
    animation-name: point2;
}

.point3 {
    animation-name: point3;
}

@keyframes point1 {
    0% {
        color: #909090;
    }

    3%, 32% {
        color: #505050;
    }

    35%, 100% {
        color: #909090;
    }
}

@keyframes point2 {
    0%, 31% {
        color: #909090;
    }

    34%, 63% {
        color: #505050;
    }

    66%, 100% {
        color: #909090;
    }
}

@keyframes point3 {
    0%, 62% {
        color: #909090;
    }

    65%, 97% {
        color: #505050;
        ;
    }

    100% {
        color: #909090;
    }
}


/* ----------FOOTER---------- */
/* Cange on FOOTER (Distribution of items) */
footer {
    background-color: #262220;
    height: 40px;
    display: flex;
    justify-content: center;
}

footer a {
    height: 40px;
    line-height: 40px;
    display: inline-block;
    margin: 0 2%;
}

.fa-brands, .fa-envelope {
    color: #f2f2f2;
    font-size: 20px;
    transition: 0.2s;
}

footer a:hover .fa-brands {
    color: #D86800;
}

footer a:hover .fa-envelope {
    color: #D86800;
}


/* -----TEXT STYLING----- */

P {
    cursor: default;
}

::selection {
    background: #E7A600;
}



/* Scrool */

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: #262220;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #505050;
    border-radius: 5px;
}

/* -----RESPONSIVE SCREEN SIZE----- */
@media (min-width: 1700px) {
    .host_card {
        transform: scale(1.5);
    }
}

@media (max-width: 1240px) {}

@media (max-width: 1100px) {
    .hosts_sec {
        flex-direction: column;
        align-content: center;
    }
}

@media (max-width: 780px) {
    .web_des {
        font-size: 20px;
    }

    .sec_title {
        font-size: 32px;
    }

    .sec_des {
        font-size: 20px;
    }

    .story_name {
        font-size: 26px;
    }

    .story_text {
        font-size: 20px;
    }
}

@media (max-width: 590px) {
    .header_logo {
        height: 150px;
    }

    .web_des {
        font-size: 16px;
    }

    .sec_title {
        font-size: 20px;
    }

    .sec_des {
        font-size: 16px;
    }

    .story_name {
        font-size: 18px;
    }

    .story_text {
        font-size: 16px;
    }

    .menu_bar {
        font-size: 14px;
    }
}