@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@400;700&display=swap');
@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');

html {
    scroll-behavior: smooth;
    font-size: 16px;
}
:root {
    --ofWhite: #f2f2f2;
    --grey: #262220;
    --orange: #D86800;
}
.body {
    margin: 0%;
    padding: 0%;
    border: 0px;
    font-family: 'Tajawal', sans-serif;
    color: var(--grey);
    background-color: var(--ofWhite);
}
.menu_bar {
    background-color: #262220d0;
    backdrop-filter: blur(4px);
    font-size: 1.125rem;
    position: fixed;
    top: 0%;
    z-index: 3;
    width: 100%;
    height: 40px;
    padding: 0% 10%;
    box-sizing: border-box;
    display: flex;
}
.menu_logo {
    height: 25px;
    width: 25px;
    line-height: 40px;
}
.menu_logo img {
    height: 100%;
}
.menu_items {
    width: calc(100% - 50px);
    height: 40px;
    display: flex;
    justify-content: center;
    align-content: center;
}
.menu_items a {
    text-decoration: none;
    color: var(--ofWhite);
    display: inline-block;
    height: 40px;
    line-height: 40px;
    margin: 0 2%;
}
.menu_items a:hover {
    color: var(--ofWhite);
}
.underline {
    background: var(--orange);
    height: 3px;
    width: 0%;
    border-radius: 1.5px;
    margin-top: -8px;
    transition: 0.3s;
}
.menu_items a:hover .underline {
    width: 100%;
}
main {
    padding: 80px 10% 40px;
    min-height: calc(100vh - 40px);
}
#icons {
    margin: auto;
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.type_icon {
    color: var(--ofWhite);
    background-color: #505050;
    font-size: 1.9rem;
    height: 50px;
    width: 50px;
    text-align: center;
    border-radius: 30%;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease;
    line-height: 52px;
    cursor: pointer;
}
.type_icon:hover {
    background: linear-gradient(to left, var(--orange), #e7a600);
}
.read_icon {
    background: linear-gradient(to left, var(--orange), #e7a600);
}
.story_card {
    width: 75%;
    height: 50vh;
    border-radius: 25px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    margin: 50px auto 0;
    padding: 3% 5%;
    box-sizing: border-box;
    transition: all 0.2s ease;
}
.story_card:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
}
.story_name {
    font-size: 2rem;
    color: var(--grey);
    margin: 0%;
    margin-bottom: 2%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.story_text {
    text-align: justify;
    font-size: 1.5rem;
    height: 80%;
    margin: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
}
.embed_video {
    width: 75%;
    height: 30vw;
    border-radius: 25px;
    margin: 50px auto 0;
    display: block;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s ease;
}
.embed_video:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
}
.watch_sec {
    display: none;
}
footer {
    background-color: var(--grey);
    height: 40px;
    display: flex;
    justify-content: center;
}
footer a {
    height: 40px;
    line-height: 40px;
    display: inline-block;
    margin: 0 2%;
}
.fa-brands, .fa-envelope {
    color: var(--ofWhite);
    font-size: 1.25rem;
    transition: 0.2s;
}
footer a:hover .fa-brands {
    color: var(--orange);
}
footer a:hover .fa-envelope {
    color: var(--orange);
}
::selection {
    background: var(--orange);
    color: var(--ofWhite);
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background-color: var(--grey);
}
::-webkit-scrollbar-thumb {
    background: #505050;
    border-radius: 5px;
}
@media (max-width: 480px) {
    html {
        font-size: 10px;
    }
    #icons {
        width: 120px;
    }
    .type_icon {
        line-height: 41px;
        height: 40px;
        width: 40px;
    }
    .story_card {
        margin-top: 40px;
    }
    .embed_video {
        margin-top: 40px;
    }
}