{% load static %}
<html lang="ar">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>المضايف</title>
    <link rel="stylesheet" href="{% static 'data/css/all.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'data/css/hosts.css' %}"/>
    <link rel="stylesheet" href="{% static 'data/css/bootstrap.min.css' %}"/>
    <link rel="icon" href="{% static 'data/logos/logo_white.svg' %}"/>
    <script src="{% static 'data/js/Header.js' %}" defer type="text/javascript"></script>
    <script src="{% static 'data/js/Footer.js' %}" defer type="text/javascript"></script>
    <img src="{% static 'data/logos/logo_orange.svg' %}" alt="logo" id="1234" hidden/>

</head>
<body dir="rtl" class="body">
    <header-component></header-component>

    <main>
        <section>
            {% block content %}
                {% for host in hosts %}
                    <article>
                        <a href="{{ host.id }}">
                            <div class="host_card">
                                <img src="{{ host.images.first.image.url }}" alt=""/>
                                <div class="host_card_text">
                                    <p class="host_name">{{ host.name }}</p>
                                </div>
                            </div>
                        </a>
                    </article>
                {% endfor %}
            {% endblock %}
        </section>
    </main>

    <footer-component></footer-component>

</body>
</html>
