{% load static %}
<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- JavaScript Bundle with Popper -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>حماة الأربعين</title>
    <link rel="stylesheet" href="{% static 'data/css/all.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'data/css/index.css' %}"/>
    <link rel="stylesheet" href="{% static 'data/css/main.css' %}"/>
    <link rel="icon" href="{% static 'data/logos/logo_white.svg' %}"/>
    <script src="{% static 'data/js/Header.js' %}" defer type="text/javascript"></script>
    <script src="{% static 'data/js/Footer.js' %}" defer type="text/javascript"></script>
    <img src="{% static 'data/logos/logo_orange.svg' %}" alt="logo" id="1234" hidden/>


</head>

<body dir="rtl" class="body">
<!-- ----------MENU BAR---------- -->

<header-component></header-component>
<!-- ----------HEADER---------- -->

<header class="header">
    <div class="header_items">
        <img src="{% static 'data/logos/logo_white.svg' %}" class="header_logo" alt="logo"/>
        <p class="web_des">
            كل من خدم وحافظ على زائري الإمام الحسين عليه السلام في زمن النظام
            البعثي عندما كانت الزيارة تعتبر جريمة
        </p>
        <span class="down_button">
          <a href="#main" class="scroll_button"
          ><i class="fas fa-chevron-circle-down"></i
          ></a>
        </span>
    </div>

    <div class="slideshow">
        <img src="{% static 'data/images/wallpaper1.jpg' %}" class="wallpaper wall1" alt="..."/>
        <img src="{% static 'data/images/wallpaper2.jpg' %}" class="wallpaper wall2" alt="..."/>
        <img src="{% static 'data/images/wallpaper3.jpg' %}" class="wallpaper wall3" alt="..."/>
    </div>
</header>

<!-- ----------MAIN---------- -->
{% block content %}

    <main class="main" id="main">
        <!-- ----------HOSTS SECTION---------- -->
        <div class="space">
            <section class="hosts_sec">
                <article class="sec_type">
                    <h2 class="sec_title"><a href="hosts.html">المضايف</a></h2>
                    <p class="sec_des">
                        مجموعة من المضايف والمواكب الحسينية التي ساهمت في خدمة الزائرين
                    </p>
                </article>
                <div class="cards-holder">
                    {% for host in hosts %}
                        <article>
                            <a href="hosts/{{ host.id }}">
                                <div class="host_card">
                                    <img src="{{ host.images.first.image.url }}" alt=""/>
                                    <div class="host_card_text">
                                        <p class="host_name">{{ host.name }}</p>
                                    </div>
                                </div>
                            </a>
                        </article>
                    {% endfor %}
                    {#                    <article>#}
                    {#                        <a href="host.html">#}
                    {#                            <div class="host_card">#}
                    {#                                <img src="images/img-card2.jpg" alt=""/>#}
                    {#                                <div class="host_card_text">#}
                    {#                                    <p class="host_name">اسم المضيف</p>#}
                    {#                                </div>#}
                    {#                            </div>#}
                    {#                        </a>#}
                    {#                    </article>#}
                    {#                    <article>#}
                    {#                        <a href="host.html">#}
                    {#                            <div class="host_card">#}
                    {#                                <img src="images/img-card3.jpg" alt=""/>#}
                    {#                                <div class="host_card_text">#}
                    {#                                    <p class="host_name">اسم المضيف</p>#}
                    {#                                </div>#}
                    {#                            </div>#}
                    {#                        </a>#}
                    {#                    </article>#}
                </div>
            </section>

            <!-- ----------STORIES SECTION---------- -->

            <section class="stories_sec">
                <article class="sec_type">
                    <h2 class="sec_title"><a href="stories.html">القصص</a></h2>
                    <p class="sec_des">
                        مجموعة من القصص لبعض الاحداث التي حصلت للزائرين
                    </p>
                </article>

                <article class="stories_container">
                    <div class="story_card">
                        <div class="story-name-container">
                            {% for story in stories_titles %}
                                <h4 class="story_name sn{{ forloop.counter }}">{{ story.title }}</h4>
                                {#                                <h4 class="story_name sn2">اسم القصة2</h4>#}
                                {#                                <h4 class="story_name sn3">اسم القصة3</h4>#}
                            {% endfor %}
                        </div>
                        <div class="text_slide">
                            {% for story in stories  %}
                                <p class="story_text story_p{{ forloop.counter }}">
                                    {{ story.content | truncatechars:230 }} <a href="stories/{{ story.id }}">إكمال
                                    القراءة...</a>
                                </p>
                            {% endfor %}
                            {#                            <p class="story_text story_p2">#}
                            {#                                p 2 -- doloremque? Nam ipsa mollitia a aut iusto! Possimus#}
                            {#                                adipisci recusandae consequatur molestiae cumque, id commodi#}
                            {#                                sequi officia animi necessitatibus molestias odit culpa delectus#}
                            {#                                ut provident natus autem exercitationem enim accusantium. Dicta,#}
                            {#                                soluta quosLorem ipsum dolor sit amet#}
                            {#                            </p>#}
                            {##}
                            {#                            <p class="story_text story_p3">#}
                            {#                                p 3 -- doloribus est consequuLorem ipsum dolor sit amet#}
                            {#                                consectetur adipisicing elit. Assumenda, repellendus nulla fugit#}
                            {#                                animi doloribus est consequuLorem ipsum dolor sit amet#}
                            {#                                consectetur adipisicing elit. Assumenda, repellendus nulla fugit#}
                            {#                                animi doloribus est consequuntur adipisci doloremque? Nam ipsa#}
                            {#                                mollitia a aut iusto! Possimus adipisci recusandae consequatur#}
                            {#                                molestiae cumque, id commodi sequi officia animi necessitatibus#}
                            {#                                molestias odit culpa delectus ut provident natus autem#}
                            {#                                exercitationem enim accusantium. Dicta, soluta quosLorem ipsum#}
                            {#                                dolor sit amet consectetur adipisicing elit. Assumenda,#}
                            {#                                repellendus nulla fugit animi doloribus est consequuntur#}
                            {#                                adipisci doloremque? Nam ipsa mollitia a aut iusto! Possimus#}
                            {#                                adipisci recusandae consequatur molestiae cumque, id commodi#}
                            {#                                sequi officia animi necessitatibus molestias odit culpa delectus#}
                            {#                                ut provident natus autem exercitationem enim accusantium. Dicta,#}
                            {#                                soluta quos.#}
                            {#                            </p>#}
                        </div>
                        <ul class="slide_points">
                            <li class="">
                                <a><i class="fa-solid fa-circle point1"></i></a>
                            </li>
                            <li class="">
                                <a><i class="fa-solid fa-circle point2"></i></a>
                            </li>
                            <li class="">
                                <a><i class="fa-solid fa-circle point3"></i></a>
                            </li>
                        </ul>
                    </div>
                </article>
            </section>
        </div>
    </main>
{% endblock %}
<!-- ----------FOOTER---------- -->


</div>
<footer-component></footer-component>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>
</html>
