{% load static %}
<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>الخارطة</title>
    <link rel="stylesheet" href="{% static 'data/css/all.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'data/css/map.css' %}"/>
    <link rel="stylesheet" href="{% static 'data/css/bootstrap.min.css' %}"/>
    <link rel="icon" href="{% static 'data/logos/logo_white.svg' %}"/>

    <link rel="stylesheet" href="{% static 'data/css/main.css' %}"/>
    <script src="{% static 'data/js/Header.js' %}" defer type="text/javascript"></script>
    <script src="{% static 'data/js/Footer.js' %}" defer type="text/javascript"></script>
    <img src="{% static 'data/logos/logo_orange.svg' %}" alt="logo" id="1234" hidden/>

</head>

<body dir="rtl" class="body">
<!-- ----------MENU BAR---------- -->

<header-component></header-component>
<!-- ----------MAIN---------- -->

<div class="map-holder">
    <div class="map_card">
        <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11279.904465438416!2d44.03199248396523!3d32.617749088366175!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x15596bc263a72c73%3A0xf7f3a3cbf5c0fd0e!2sAl-Imam%20Al-Hussain%20Holy%20Shrine!5e0!3m2!1sen!2siq!4v1651327159184!5m2!1sen!2siq"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"
                class="map"
        ></iframe>
    </div>
</div>

<!-- ----------FOOTER---------- -->

<footer-component></footer-component>
</body>
</html>
